<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests">
	<listeners>
		<listener class-name="listenerspack.Listeners" />
	</listeners>

	<test thread-count="5" name="TwoTest">
		<classes>
			<class name="realtimeproject.TwoTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="FirstTest">
		<classes>
			<class name="realtimeproject.FirstTest" />
		</classes>
	</test>
	
</suite> <!-- Suite -->